@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
ul li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(hsl(235, 69%, 77%), hsl(283, 60%, 72%));
  background-repeat: no-repeat;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 55px;
  color: black;
}

.tarjeta {
  margin: 20px;
  border-radius: 30px;
  width: 150px;
  height: 230px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.tarjeta img {
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
  left: 50%;
  top: -15px;
  transform: translate(-50%);
  width: 180px;
  max-height: 125px;
  filter: drop-shadow(0 8px 32px 0 rgba(31, 38, 135, 0.45));
}
.tarjeta .leyenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  z-index: 2;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(20, 167, 62) 0%, rgb(102, 247, 113) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(20, 167, 62, 0.5960784314);
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.cssbuttons-io-button svg {
  margin-right: 6px;
}
.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(20, 167, 62, 0.5960784314);
}
.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(20, 167, 62, 0.5960784314);
}

header {
  background-color: white;
  box-shadow: 0px 0px 15px 20px white;
}

#btn-menu, #btn-config, #btn-cerrar {
  font-size: 36px;
  padding: 5px;
}

.input__container {
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 22px;
  max-width: 280px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  perspective: 500px;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #999cff;
  background-image: radial-gradient(at 85% 51%, hsl(60, 60%, 61%) 0px, transparent 50%), radial-gradient(at 74% 68%, hsl(235, 69%, 77%) 0px, transparent 50%), radial-gradient(at 64% 79%, hsl(284, 72%, 73%) 0px, transparent 50%), radial-gradient(at 75% 16%, hsl(283, 60%, 72%) 0px, transparent 50%), radial-gradient(at 90% 65%, hsl(153, 70%, 64%) 0px, transparent 50%), radial-gradient(at 91% 83%, hsl(283, 74%, 69%) 0px, transparent 50%), radial-gradient(at 72% 91%, hsl(213, 75%, 75%) 0px, transparent 50%);
}

.input__button__shadow {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 400ms, background 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 5px;
}
.input__button__shadow:hover {
  background: rgba(255, 255, 255, 0.411);
}

.input__search {
  transition: all ease 0.2s;
  width: 90%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px;
  position: relative;
}
.input__search:focus {
  width: 280px;
}

.list-categorias {
  display: flex;
  flex-direction: column;
}

#sidebar {
  background-color: hsl(235, 69%, 77%);
  width: 70vw;
}

#config {
  background-color: hsl(213, 75%, 75%);
  width: 70vw;
  display: flex;
  justify-content: flex-end;
}

.slider-ofertas {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: 350px;
}

.contenedor-lista {
  height: 100vh;
}

.contenedor-ofertas {
  margin-top: 20px;
}

/*# sourceMappingURL=app.css.map */
