@import '../utilities/mixins.scss';

.contenedor-tarjeta{
    background-image: url('https://m.media-amazon.com/images/I/71RRdDzI1qL._SL1500_.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 60px;
    height: 200vh;
    
}
.tarjeta{
    @include tarjeta;
    @include transparente;
}
.cssbuttons-io-button {
    @include btn-agregar;
  }
