ul{
    li{
        list-style:none;
    }
}

::-webkit-scrollbar {
    display: none;
}
body{
    background-image: linear-gradient(hsla(235,69%,77%,1), hsla(283,60%,72%,1));
    background-repeat: no-repeat;
}
